---
layout: default
redirect_from:
- /about.html
permalink: /about/
---
<div id="wj-about">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center wj-heading">
				<h2>About Us</h2>
				<p>WebJeda is a web designing company based in Bengaluru. Designing beautiful, responsive and functional
					websites is our passion.</p>
			</div>
		</div>


		<div class="row row-bottom-padded-md">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<p><img src="/images/webjeda-logo-big.jpg" alt="Webjeda Cover Image" class="img-responsive img-rounded" loading="lazy">
				</p>
			</div>
		</div>
	</div>
</div>

<div id="wj-features">
	<div class="container">
		<div class="services-padding">
			<div class="r">
				<div class="c-4"></div>
				<div class="c-4 col-md-offset-2 text-center wj-heading">
					<h2 class="text-white">What do we do?</h2>
				</div>
				<div class="c-4"></div>
				{% for item in site.data.data.about %}
				<div class="c-6 animate-box">
					<div class="feature-left">
						<span class="icon">
							<i class="{{item.icon}}"></i>
						</span>
						<div class="feature-copy">
							<h3 class="text-white">{{item.title}}</h3>
							<span class="text-white">{{item.description}}</span>
						</div>
					</div>
				</div>
				{% endfor %}



			</div>
			<!-- <div class="row">			    	
                                    
                                    <div class="col-md-6 animate-box">
                        
                                        <div class="feature-left">
                                            <span class="icon">
                                                <i class="icon-linegraph"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Marketing</h3>
                                                <p>We perform digital marketing to reach more audience.</p>
                                                <p>We help you reach a greater audience through Digital Marketing. It involoves Social Media Marketing, Email Marketing, Search Engine Marketing etc.</p>
                                                <p>Digital Marketing helps to reach targeted customers in a short period of time.</p>
                                            </div>
                                        </div>
                                    </div>
                            
                    <div class="col-md-6 animate-box">
                                        <div class="feature-left">
                                            <span class="icon">
                                                <i class="icon-recycle"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>WordPress to Static</h3>
                                                <p>We convert your WordPress site to a Static Site.</p>
                                                <p>Static Sites are fast, user friendly and rank better on search engines. Static Sites will not use any database and hence making the website highly secure when compared to WordPress.</p>
                                                <p>We might loose some features but we believe that static is the new dynamic.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                <div class="col-md-6 animate-box">
                                        <div class="feature-left">
                                            <span class="icon">
                                                <i class="icon-recycle"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>WordPress to Static</h3>
                                                <p>We convert your old WordPress site to a new static site.</p>
                                                <p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                            
                                </div> -->

			<!-- <div class="row">
	                                <div class="col-md-6 animate-box">
	                                    <div class="feature-left">
	                                        <span class="icon">
	                                            <i class="icon-hotairballoon"></i>
	                                        </span>
	                                        <div class="feature-copy">
	                                            <h3>Build Themes</h3>
	                                            <p>We create clean, minimal and w3c compliant themes.</p>
	                                            <p>All out themes are coded clean, w3c compliant and highly customizable. We give out our themes for free so that users can have an inside look at our design and coding skills.</p>
	                                        </div>
	                                    </div>
	            
	                                </div>
	                                <div class="col-md-6 animate-box">
	                                    <div class="feature-left">
	                                        <span class="icon">
	                                            <i class="icon-chat"></i>
	                                        </span>
	                                        <div class="feature-copy">
	                                            <h3>Support</h3>
	                                            <p>We provide 24x7 support to our customers.</p>
	                                            <p>Customer satisfaction is something we take gravely. We believe that there is no traffic jams along the extra mile.</p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> -->
		</div>
	</div>
</div>

<!-- <style>
    .feature-copy {
        width: 100%;
    }
</style> -->

<!-- <div id="wj-content-section">
	    <div class="container">
	        <div class="row row-bottom-padded-md">
	            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
	                <h3>Our Team</h3>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
	            </div>
	        </div>
	    </div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-1.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-2.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-3.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	                </div>
	            </div>
	        </div>
	
	
	        <div class="row">
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-1.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-2.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	                </div>
	            </div>
	            <div class="col-md-4">
	                <div class="wj-team text-center animate-box">
	                    <figure>
	                        <img src="images/user-3.jpg" alt="user">
	                    </figure>
	                    <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
	                    <blockquote>
	                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    </blockquote>
	                    
	                </div>
	            </div>
	        </div>
	    </div>
	</div> -->

{% include hire.html %}