---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webjeda Reviews</title>
    <meta name="description" content="Find Google reviews of webjeda here. Webjeda strives to provide high quality services which in turn gets good feedbacks.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/google-places.css">
</head>
<body>
  
    <section class="main-content">
     <header>
      <h2>Reviews</h2>
      </header>
      <div id="google-reviews"></div>

      <footer class="site-footer-review">
           <a href="{{site.review.short-link}}">
            <button class="write-review">Write a review</button>
            </a>
            {% include color-bar.html %}
      </footer>
    </section>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/google-places.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-usBrLm4Z9_hNRsgOs4oKLshWgnBcy3w&libraries=places"></script>
    
    
    <script>
     $(document).ready(function() {
      $("#google-reviews").googlePlaces({
          placeId: 'ChIJx113w8QUuzsR_3IiWBPrucE'
        , render: ['reviews']
        , min_rating: 4
        , max_rows:5
      });
    });
    </script>
{% include analytics.html %}
</body>
</html>