---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h1>WebJeda<span>I design pretty good websites!</span></h1>	
			</header>
			<section>
				<form id="theForm" class="simform" autocomplete="off" method="POST">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">What's your name?</label></span>
								<input id="q1" name="q1" type="text" autofocus/>
							</li>
							<li>
								<span><label for="q2">What's your email?</label></span>
								<input placeholder="john@doe.com" id="q2" name="q2" name="_replyto" type="email"/>
							</li>
							<li>
								<span><label for="q3">Type of website you want?</label></span>
								<input placeholder="Simple, dynamic, ecommerce..." id="q3" name="q3" type="text"/>
							</li>
							<li>
								<span><label for="q4">How else I can contact you?</label></span>
								<input id="q4" name="q4" type="text"/>
							</li>
	         			</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
				        <input type='hidden' name="_next" value='http://blog.webjeda.com' />
				        <input type="hidden" name="_subject" value="Webjeda Website Request!" />
				        <input type="text" name="_gotcha" style="display:none" />
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->			
			</section>
		</div><!-- /container -->
		<script src="/js/classie.js"></script>
		<script src="/js/stepsForm.js"></script>
		<script src="/js/jQuery.js"></script>
		<script src="/js/modernizer.js"></script>

		
	</body>
</html>