---
layout: compress
description: Do you want a website? Let me know your requirements. 
---
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="/js/modernizr.custom.js"></script>
        
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h1>WebJeda<span>I design pretty good websites!</span></h1>	
							<hr class="hl">
			</header>
			                        
			<section>
					<h1>Contact me for a custom website</h2>			
				<form id="theForm" class="simform" autocomplete="off" method="POST">
					<div class="simform-inner">
			
						<ol class="questions">
							<li>
								<span><label for="q1">What's your name?</label></span>
								<input id="q1" name="q1" type="text" autofocus/>
							</li>
							<li>
								<span><label for="q2">What's your email?</label></span>
								<input placeholder="john@doe.com" id="" name="q2" name="_replyto" type="email" onkeyup="email_validate(this.value)" onfocusout="hidemsg()"/>
							</li>
							<li>
								<span><label for="q3">Type of website you want?</label></span>
								<input placeholder="Simple, dynamic, ecommerce..." id="q3" name="q3" type="text"/>
							</li>
							<li>
								<span><label for="q4">How else I can contact you?</label></span>
								<input id="q4" name="q4" type="text"/>
							</li>
	         			</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
				        <input type='hidden' name="redirect_to" value='http://blog.webjeda.com' />      
				        <input type="hidden" name="subject" value="Webjeda Website Request!" />
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
							<span id="email_address" style="display:none;padding: 0.4em 3.5em 0 0;width: 100%;
	color: rgba(0,0,0,0.7);font-style: italic;font-size: 0.4em; position: absolute"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->			
			</section>
			
			
		<section class="testimon">
		 <header class="codrops-header">
				<h1><span>Testimonials</span></h1>	
			</header> 
			

              {% for review in site.data.reviews %}
                    <div class="testimonials clearfix">
                          <blockquote><p>{{review.message}}</p></blockquote>
                          <div class="carousel-info text-left">
                            <img alt="webjeda webdesigner review" src="{{review.image}}" class="pull-left">
                            <div class="pull-left">
                              <span class="testimonials-name">{{review.name}}</span>
                              <span class="testimonials-post">{{review.website}}</span>
                            </div>                           
                          </div>
                    </div>
 
		        {% endfor %}
		</section>	
        <div style="clear:both; height: 4em"></div>
        <section>
        <hr class="hl">
        <p><a style="color: rgba(255,255,255,0.45); text-decoration: underline" target="_blank" href="/reviews.html">More reviews</a></p>
        <p>Don't like the website color?! Change it &rarr; </p>
        
        </section>
		</div><!-- /container -->
		
		<button class="fab" onclick="makeRandomColor()">♥</button>
		
		<script src="/js/classie.min.js"></script>
		<script src="/js/stepsForm.js"></script>
		<script src="/js/modernizer.js"></script>
        <script src="/js/jQuery.js"></script>
        <script src="/js/change.js"></script>
        {% include analytics.html %}

	</body>
</html>