@charset "utf-8";

// @import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
//$brand-primary: #DD356E !default;
$brand-primary: #60c17d !default;
//$brand-secondary: #FEE856 !default;
// $brand-secondary: #f1e179 !default;
$brand-secondary: #ff5470 !default;
$brand-tertiary: #2A528A !default;


// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



@import
    "bootstrap",
    "bootstrap-compass",
    "bootstrap-mincer",
    "bootstrap-sprockets",
    "animate",
    "flexslider",
    "icomoon",
    "style",
    "grid",
    "custom";
