---
layout: compress
---
<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="webjeda" />
     <!-- Prefetch DNS -->
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//instant.page">


    {% seo %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Apple touch icons -->
    <link rel="apple-touch-icon-precomposed" href="{% include logo-60.html %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% include logo-152.html %}">

	<style>
		{% capture include_to_scssify %}
		{% include googlefonts.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}

	</style>
	<style>
		{% capture include_to_scssify %}
		{% include main.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
	 </style>


	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

<body>

	<div class="wj-loader"></div>

<div id="page">
	<nav class="wj-nav">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="wj-logo"><a href="/">Webjeda<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li {% if page.url == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
							<li {% if page.url == '/portfolio/' %} class="active" {% endif %}><a href="/portfolio/">Portfolio</a></li>
							<!-- <li {% if page.url == '/blog.html' %}class="active" {% endif %} class="has-dropdown">
							    <a href="blog.html">Blog</a>
							    <ul class="dropdown">
							        <li><a href="#">Web Design</a></li>
							        <li><a href="#">eCommerce</a></li>
							        <li><a href="#">Branding</a></li>
							        <li><a href="#">API</a></li>
							    </ul>
							</li> -->
							<li {% if page.url == '/about/' %} class="active" {% endif %}><a href="/about/">About</a></li>
							<li {% if page.url == '/contact/' %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
							<li class="btn-cta"><a href="https://blog.webjeda.com" target="_blank"><span>Blog</span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>



{{content}}




<footer id="wj-footer">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 wj-widget">
					<img src="/images/webjeda-logo.png" alt="Webjeda webdesigner" loading="lazy"><br><br>
					<p>WebJeda is a web designing company based in Bengaluru. Designing beautiful, responsive and functional websites is our passion.</p>
				</div>
				<div class="col-md-2 col-md-push-1 wj-widget">
					<h4>Links</h4>
					<ul class="wj-footer-links">
						<li><a href="/portfolio/">Portfolio</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/contact/">Contact</a></li>
						<li><a href="/sitemap.xml">Sitemap</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 wj-widget">
					<h4>External Links</h4>
					<ul class="wj-footer-links">
						<li><a href="/reviews/" target="_blank">Reviews</a></li>
						<li><a href="https://jekyll-themes.com" target="_blank">Themes</a></li>
						<li><a href="https://blog.webjeda.com/about/" target="_blank">About me</a></li>
						<li><a href="https://avocado.jekyll-themes.com/" target="_blank">Avocado</a></li>
					</ul>
				</div>


				<div class="col-md-4 col-md-push-1 wj-widget">
					<h4>Contact Information</h4>
					<ul class="wj-footer-links">
						<li>New Thippasandra<br>Bengaluru, Karnataka</li>
						<li class="r-phone">Get Phone Number</li>
						<li class="r-email">Get Email</li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;&nbsp;<script>document.write(new Date().getFullYear());</script>&nbsp;webjeda. All Rights Reserved.</small>
						<!-- <small>GSTN: 29EVLPS9250Q1Z8</small> -->

				    </p>


						<ul class="wj-social-icons" >
							<li>
							    <a href="https://twitter.com/{{site.twitter.username}}"><i class="icon-twitter-with-circle"></i></a>
							</li>
							<li>
							    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="icon-facebook-with-circle"></i></a>
							</li>
							<li>
							    <a href="{{site.github}}"><i class="icon-github-with-circle"></i></a>
							</li>
							<li>
							<a href="{{site.youtube}}"><i class="icon-youtube-with-circle"></i></a>
							</li>
						</ul>

				</div>
			</div>
		</div>
	</footer>

	</div>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

  <!-- load page -->
	<script>
		 jQuery(document).ready(function() {
				$(".wj-loader").fadeOut("slow");
	});
	</script>


	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.min.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
		<!-- Main -->
	<script src="/js/main.js"></script>
	<!-- Flexslider -->
	<script defer src="/js/jquery.flexslider-min.js"></script>

	<script src="/js/personal.js"></script>

	{% if page.url == '/contact/' %}
	<script  src="https://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js"></script>
  <script>
  jQuery(function ($) {
      $("#wj-form").validate();
      var rnuma = Math.floor(Math.random() * 11);
      var rnumb = Math.floor(Math.random() * 11);
      var sum = rnuma + rnumb;
      $("#rnuma").text(rnuma);
      $("#rnumb").text(rnumb);
      $("#mathTest").click(function(){
           if (sum == $("#testInput").val())
                   {$("#wj-form").append('<div class="col-md-12"><div class="form-group"><input type="submit" value="Send Message" class="btn btn-primary"></div></div>');}
           else {alert('Sorry, please try again.');}
      });
  });
  </script>

<!-- disable enter key -->
	<script>
	$('#texta').bind('copy paste', function(e) { e.preventDefault(); });
	</script>
<!-- Honeypot -->
<script>	
$('#nomail').keyup(function(){
  $("#wj-form").attr('action', '/');
});
</script>

	{% endif %}

    {% include analytics.html %}

		<script src="/js/instant.js" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
	</body>
</html>
