---
layout: compress
---
<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="webjeda" />
     <!-- Prefetch DNS -->
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">


    {% seo %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Apple touch icons -->
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-ipad-retina-152x152.png">


    <style>
          {% capture include_to_scssify %}
          {% include googlefonts.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
   </style>

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"> -->

<!-- 	Animate.css
	<link rel="stylesheet" href="css/animate.css">
	Icomoon Icon Fonts
	<link rel="stylesheet" href="css/icomoon.css">
	Bootstrap
	<link rel="stylesheet" href="css/bootstrap.css">
	Flexslider
	<link rel="stylesheet" href="css/flexslider.css">

	Theme style
	<link rel="stylesheet" href="css/style.css"> -->

	<!-- Custom style  -->
	<link rel="stylesheet" href="/css/main.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

<body>

	<div class="wj-loader"></div>

<div id="page">
	<nav class="wj-nav">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="wj-logo"><a href="/">Webjeda<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li {% if page.url == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
							<li {% if page.url == '/portfolio/' %} class="active" {% endif %}><a href="/portfolio/">Portfolio</a></li>
							<!-- <li {% if page.url == '/blog.html' %}class="active" {% endif %} class="has-dropdown">
							    <a href="blog.html">Blog</a>
							    <ul class="dropdown">
							        <li><a href="#">Web Design</a></li>
							        <li><a href="#">eCommerce</a></li>
							        <li><a href="#">Branding</a></li>
							        <li><a href="#">API</a></li>
							    </ul>
							</li> -->
							<li {% if page.url == '/about/' %} class="active" {% endif %}><a href="/about/">About</a></li>
							<li {% if page.url == '/contact/' %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
							<li class="btn-cta"><a href="https://blog.webjeda.com" target="_blank"><span>Blog</span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>



{{content}}




<footer id="wj-footer">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 wj-widget">
					<img src="/images/webjeda-logo.png" alt="Webjeda webdesigner"><br><br>
					<p>WebJeda is a web designing company based in Bengaluru. Designing beautiful, responsive and functional websites is our passion.</p>
				</div>
				<div class="col-md-2 col-md-push-1 wj-widget">
					<h4>Links</h4>
					<ul class="wj-footer-links">
						<li><a href="/portfolio/">Portfolio</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/contact/">Contact</a></li>
						<li><a href="/sitemap.xml">Sitemap</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 wj-widget">
					<h4>External Links</h4>
					<ul class="wj-footer-links">
						<li><a href="/reviews.html" target="_blank">Reviews</a></li>
						<li><a href="https://jekyll-themes.com" target="_blank">Themes</a></li>
						<li><a href="https://blog.webjeda.com/about/" target="_blank">About me</a></li>
						<li><a href="https://avocado.jekyll-themes.com/" target="_blank">Avocado</a></li>
					</ul>
				</div>


				<div class="col-md-4 col-md-push-1 wj-widget">
					<h4>Contact Information</h4>
					<ul class="wj-footer-links">
						<li>New Thippasandra<br>Bengaluru, Karnataka</li>
						<li><a href="tel:+918904475972">+91 890 447 5972</a></li>
						<li><a href="mailto:hello@webjeda.com">hello@webjeda.com</a></li>
						<li><a href="https://webjeda.com">webjeda</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; {{ "now" | date: "%Y" }} webjeda. All Rights Reserved.</small>
				    </p>


						<ul class="wj-social-icons" >
							<li>
							    <a href="https://twitter.com/{{site.twitter.username}}"><i class="icon-twitter-with-circle"></i></a>
							</li>
							<li>
							    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="icon-facebook-with-circle"></i></a>
							</li>
							<li>
							    <a href="{{site.github}}"><i class="icon-github-with-circle"></i></a>
							</li>
							<li>
							<a href="{{site.youtube}}"><i class="icon-youtube-with-circle"></i></a>
							</li>
						</ul>

				</div>
			</div>
		</div>
	</footer>

	</div>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.min.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
		<!-- Main -->
	<script src="/js/main.min.js"></script>
	<!-- Flexslider -->
	<script defer src="/js/jquery.flexslider-min.js"></script>


    {% include analytics.html %}
	</body>
</html>
